{% extends 'base.html.twig' %}

{% block title %}Hello RegisterJuegoController!{% endblock %}

{% block body %}
<div class="example_wrapper">
    <h1>Registro de Juego</h1>
    {{form_start(formulario)}}
    {{form_end(formulario)}}
    <div>
        <a href="javascript:history.back()">Cancelar</a>
    </div>
</div>
{% endblock %}
