{% extends 'base.html.twig' %}

{% block title %}AdminDashboardController{% endblock %}

{% block body %}
        <h1>Bienvenido ADMIN</h1>

        {% if usuarios and usuarios|length > 0 %}
            <h3>La lista de usuarios registrados es la siguiente</h3>
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr align="center">
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>EMAIL</th>
                        <th>ROL</th>
                        <th>ACCIONES DISPONIBLES</th>
                    </tr>
                </thead>
                <tbody>
                    {%for user in usuarios %}
                        <tr scope="row" align = "center">
                        <td>{{ user.id }}</td>
                        <td>{{ user.nombre }}</td>
                        <td>{{ user.apellido }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.tipo }}</td>
                        <td>
                            <a href="{{path('admin_delete',{id:user.id})}}" class="btn btn-danger">Eliminar</a>
                            {% if user.tipo == 'Desarrollador' %}
                                <a href="{{path('app_alterrol',{id:user.id})}}" class="btn btn-success" >Hacer Tester</a>
                            {% else %}
                                <a href="{{path('app_alterrol',{id:user.id})}}" class="btn btn-success">Hacer Desarrollador</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style = "color:red" ><strong>
            No hay usuarios con el rango de desarrollador o tester registrados.
        </p>
    {% endif %}
    <a href="{{path('app_register_user')}}" class="btn btn-primary">Registrar nuevo usuario</a>
    <a href="{{path('app_logout')}}">Cerrar Sesión</a>

{% endblock %}
