{% extends 'base.html.twig' %}

{% block title %}Hello DevDashboardController!{% endblock %}

{% block body %}
    <h1>Bienvenido desarrollador  {{ usuario.nombre}}</h1>
    
    {{ dump(usuario.nombre)}}

        {% if juegos and juegos|length > 0 %}
            <h3>La lista de juegos registrados es la siguiente</h3>
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr align="center">
                        <th>ID</th>
                        <th>TITULO</th>
                        <th>DESCRIPCION</th>
                        <th>ESTADO</th>
                        <th>ACCIONES DISPONIBLES</th>
                    </tr>
                </thead>
                <tbody>
                    {%for juego in juegos %}
                        <tr scope="row" align = "center">
                        <td>{{ juego.id }}</td>
                        <td>{{ juego.titulo }}</td>
                        <td>{{ juego.descripcion }}</td>
                        <td>{{ juego.estado }}</td>
                        <td>
                            <a href="{{path('dev_juego_edit',{id:juego.id})}}" class="btn btn-primary">Editar</a>
                            <a href="{{path('dev_juego_delete',{id:juego.id})}}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style = "color:red" ><strong>
            No hay juegos registrados
        </p>
    {% endif %}
    <a href="{{path('app_register_juego')}}" class="btn btn-primary">Añadir nuevo juego</a>
    <a href="{{path('app_logout')}}" class="btn btn-danger">Cerrar Sesión</a>

{% endblock %}
